<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<p class="dropdown-headline"><f:translate key="title" extensionName="size" /></p>

<div class="dropdown-item-text">
    <strong><f:translate key="section.fileadmin" extensionName="size" /></strong><br>
    <f:if condition="{storages.items -> f:count()} > 0">
        <f:then>
            <f:for each="{storages.items}" as="storage">
                <f:if condition="{storage.name}">
                    <f:then>{storage.name}: {storage.label}</f:then>
                    <f:else>{storage.label}</f:else>
                </f:if><br>
            </f:for>
            <f:translate key="fileadmin.total" extensionName="size" />: {storages.total.label}
        </f:then>
        <f:else>
            <f:translate key="notAvailable" extensionName="size" />
        </f:else>
    </f:if>
</div>

<hr class="dropdown-divider" aria-hidden="true">

<div class="dropdown-item-text">
    <strong><f:translate key="section.database" extensionName="size" /></strong><br>
    <f:if condition="{database.connections -> f:count()} > 0">
        <f:then>
            <f:for each="{database.connections}" as="connection">
                {connection.name}: {connection.label}<br>
            </f:for>
            <f:translate key="database.total" extensionName="size" />: {database.total.label}
        </f:then>
        <f:else>
            <f:translate key="notAvailable" extensionName="size" />
        </f:else>
    </f:if>
</div>

<hr class="dropdown-divider" aria-hidden="true">

<div class="dropdown-item-text">
    <strong><f:translate key="section.code" extensionName="size" /></strong><br>
    <f:translate key="code.vendor" extensionName="size" />: {code.vendor.label}<br>
    <f:translate key="code.extensions" extensionName="size" />: {code.extensions.label}<br>
    <f:translate key="code.dependencies" extensionName="size" />: {code.dependencies.label}<br>
    <f:translate key="code.total" extensionName="size" />: {code.total.label}
</div>

<hr class="dropdown-divider" aria-hidden="true">

<div class="dropdown-item-text">
    <strong><f:translate key="section.misc" extensionName="size" /></strong><br>
    {misc.label}
</div>

<hr class="dropdown-divider" aria-hidden="true">

<div class="dropdown-item-text">
    <strong><f:translate key="section.total" extensionName="size" /></strong><br>
    {total.label}
</div>
</html>
