<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:asset.css
    identifier="size-toolbar-item-dropdown"
    href="EXT:size/Resources/Public/Css/SizeToolbarItemDropDown.css"
/>
<f:asset.script
    identifier="size-toolbar-item-dropdown-toggle"
    src="EXT:size/Resources/Public/JavaScript/SizeToolbarItemDropDown.js"
/>

<div class="size-storage-dropdown">
    <p class="dropdown-headline mb-2"><f:translate key="title" extensionName="size" /></p>
    <p class="size-storage-dropdown-description">
        <f:translate key="toolbar.description" extensionName="size" />
    </p>

    <button
        type="button"
        class="size-storage-toggle"
        data-size-storage-toggle
        aria-expanded="false"
        aria-controls="size-storage-total-panel"
    >
        <span class="size-storage-toggle-content">
            <span class="size-storage-section-heading">
                <span class="size-storage-section-icon {total.highlightClass}">
                    <core:icon identifier="actions-info-circle" alternativeMarkupIdentifier="inline" />
                </span>
                <strong class="{total.highlightClass}"><f:translate key="section.total" extensionName="size" />: {total.displayLabel}</strong>
            </span>
            <span class="size-storage-toggle-indicator" aria-hidden="true">
                <core:icon identifier="actions-chevron-right" alternativeMarkupIdentifier="inline" size="small" />
            </span>
        </span>
    </button>

    <div
        id="size-storage-total-panel"
        class="size-storage-details"
        data-size-storage-panel
        hidden="hidden"
    >
        <div class="dropdown-item-text">
            <div class="size-storage-section-heading">
                <span class="size-storage-section-icon size-storage-section-icon-media"><core:icon identifier="actions-file-image" alternativeMarkupIdentifier="inline" /></span>
                <strong><f:translate key="section.fileadmin" extensionName="size" />: {storages.total.label}</strong>
            </div>
        </div>

        <div class="dropdown-item-text">
            <div class="size-storage-section-heading">
                <span class="size-storage-section-icon size-storage-section-icon-database"><core:icon identifier="actions-database" alternativeMarkupIdentifier="inline" /></span>
                <strong><f:translate key="section.database" extensionName="size" />: {database.total.label}</strong>
            </div>
        </div>

        <div class="dropdown-item-text">
            <div class="size-storage-section-heading">
                <span class="size-storage-section-icon size-storage-section-icon-code"><core:icon identifier="actions-code" alternativeMarkupIdentifier="inline" /></span>
                <strong><f:translate key="section.code" extensionName="size" />: {code.total.label}</strong>
            </div>
        </div>

        <div class="dropdown-item-text">
            <div class="size-storage-section-heading">
                <span class="size-storage-section-icon size-storage-section-icon-misc"><core:icon identifier="actions-cog" alternativeMarkupIdentifier="inline" /></span>
                <strong><f:translate key="section.misc" extensionName="size" />: {misc.total.label}</strong>
            </div>
        </div>
    </div>

    <hr class="dropdown-divider" aria-hidden="true">

    <a href="{storageStatisticsModuleUrl}" class="dropdown-item mb-1" aria-describedby="">
        <span class="dropdown-item-columns">
            <core:icon identifier="actions-arrow-end" alternativeMarkupIdentifier="inline" />
            <span class="dropdown-item-column dropdown-item-column-text">
                <f:translate key="toolbar.openStorageStatistics" extensionName="size" />
            </span>
        </span>
    </a>
</div>
</html>
